<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hemsida101</title>

  <link rel="stylesheet" href="CSS.css" />

  <style>
  </style>
</head>
<body>
  <article>
    <div class="header">
    </div>

    <div class="csgogogo">
      <p>
        I am very well at playing CS:GO and I am very eager to get better and better in the game. I play the game very well already to the point where I feel I should be inside of Gold Nova. When I play Competitive however, I always play with the worst teammates ever. Now I know you Master Guardians and Legendary Eagles are going to point and laugh at this saying "HA! He's just another one of those NOOBS and he DESERVES to be in Silver I because he blames everything on lag and hackers!! He also probably thinks he carries the entire team like every other Silver I says! WHAT A NOOB!" This is not the case...
      </p>
    </div>


    <div class="footer">
      <p>© Armannii™</p>
    </div>
  </article>
</body>
</html>
